.section_2 {
    padding: 30px 17px 0 13px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 376px;
    min-width: 320px;
    @media screen and (min-width: 780px){
        padding: 30px 20px 0 20px;
    }
    @media screen and (min-width: 1000px){
        padding: 70px 50px 0 50px;
        margin-bottom: 20px;
    }
    &__span {
        color: $color-main;
        padding-bottom: 10px;
        font-family: $font-text;
        font-size: 0.875rem;
        @media screen and (min-width: 780px){
            font-size: 1rem;
        }
    }
    &__h2 {
        font-family: $font-title;
        font-size: 1.375rem;
        font-weight: 600;
        padding-bottom: 10px;
        @media screen and (min-width: 780px){
            font-size: 2rem;
        }
        
    }
    &__p {
        font-family: $font-text;
        font-size: 1.125rem;
        padding-bottom: 70px;
        color: $color-text;
        line-height: 1.5;
        @media screen and (min-width: 780px){
            font-size: 1.25rem;
        }
        
    }
    &__button {
        width: 150px;
        height: 40px;
        background-color: white;
        border: 2px solid $color-main;
        border-radius: 1rem ;
        font-size: 1.25rem;
        transition: background-color 1s ease-out 30ms;
        transition: transform 1s ease-out 30ms;
     
        
        a {
            color: $color-main;
        }
        &:hover {
            background-color: rgb(235, 157, 157);
            transform: rotate(360deg);
        }
       

    }
}
