.section_3 {
    background-color: $color-light;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    justify-items: center;
    

    &__figure {
        width: 114px;
        
        
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
}