.section_1 {
    
    background: url(/images/cover.jpeg);
    width: 100%;
    height: 100vh;
    // padding-top: 250px;
    // padding-bottom: 150px;
    background-size: 330%;
    background-repeat: no-repeat;
    background-position: -600px 0;
    min-width: 320px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    @media screen and (min-width: 360px) and (max-width: 390px){
        background-position: -600px 0;
        background-size: 325%;
    }
    @media screen and (min-width: 391px) and (max-width: 490px){
        background-position: -700px 0;
        background-size: 335%;
    }
    @media screen and (min-width: 491px) and (max-width: 767px){
        background-position: -500px 0;
        background-size: 200%;
    }
    
    @media screen and (min-width: 768px){
        background-position: -500px 0;
        background-size: 200%;
    }

    @media screen and (min-width: 820px){
        background-position: -700px 0;
       background-size: 230%;
    }
    @media screen and (min-width: 1000px){
        background-position: -780px -150px;
       background-size: 228%;
    }
    @media screen and (min-width: 1200px){
        background-position: -780px -150px;
       background-size: 188%;
    }
    @media screen and (min-width: 1900px){
        background-position: -880px -150px;
       background-size: 150%;
    }
    
    

    &__h1 {
        color: white;
        font-size: 1.875rem;
        font-family: $font-title;
        font-weight: 500;
        line-height: 50px;
        padding: 150px 30px 0 30px;
        @media screen and (min-width: 464px){
            font-size: 3rem;
            line-height: 80px;
        }
        @media screen and (min-width: 706px){
            font-size: 3rem;
            line-height: 80px;
            padding: 200px 100px 0 100px;
        }
        
        @media screen and (min-width: 768px){
            font-size: 4.688rem;
            line-height: 100px;
        }
        @media screen and (min-width: 1000px){
            padding: 190px 100px 0 100px;
        }
        @media screen and (min-width: 1212px){
            padding: 300px 200px 0 200px;
        }
        @media screen and (min-width: 1409px){
            padding: 400px 400px 0 400px;
        }
        @media screen and (min-width: 1700px){
            padding: 500px 700px 0 700px;
         }
    }
    &__p{
        color: white;
        padding: 15px 65px 0 65px;
        font-family: $font-text;
        margin-bottom: 10px;
        @media screen and (min-width: 768px){
            font-size: 1.5rem;
            padding: 0 230px 0 230px;
        }
        @media screen and (min-width: 780px){
            font-size: 1.5rem;
            padding: 0 230px 0 230px;
        }
    }
    &__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: white;
        padding: 8px;
        position: sticky;
        @media screen and (min-width: 780px){
            width: 50px;
            height: 50px;
        }
        @media screen and (min-width: 1000px){
            width: 40px;
            height: 40px;
        }
        
       
    
        
    }
    


}