<footer class="footer">
    <img class="footer__img" src="/images/ico-arrow.svg" alt="Icono flecha">
    <nav class="footer_nav">
        <ul class="footer__ul">
            <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es/">ROPA</a></li>
            <li><a href="https://adalab.es/">NIÑO/A</a></li>
            <li><a href="https://adalab.es/">DESTACADOS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>
    </nav>
    <nav class="footer__nav--rrss">
        <ul class="footer__ul">
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </nav>
 <span class="footer__copy">&copy;2023</span>
 <p class="footer__p">we <span>&#10084;</span> run</p>
</footer>