<footer class="footer">
    <a href="#section_1"><img class="footer__img" src="/images/ico-arrow.svg" alt="Icono flecha"></a>
    <nav class="footer_nav">
        <ul class="footer__ul">
            <li><a href="https://adalab.es/" target="_blank">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es/" target="_blank">ROPA</a></li>
            <li><a href="https://adalab.es/" target="_blank">NIÑO/A</a></li>
            <li><a href="https://adalab.es/" target="_blank">DESTACADOS</a></li>
            <li><a href="https://adalab.es/" target="_blank">TIPS</a></li>
        </ul>
    </nav>
    <nav class="footer__nav--rrss">
        <ul class="footer__ul">
            <li><a href="https://adalab.es/" target="_blank">TWITTER</a></li>
            <li><a href="https://adalab.es/" target="_blank">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/" target="_blank">YOUTUBE</a></li>
        </ul>
    </nav>
    
 <span class="footer__copy">&copy;2023</span>
 <p class="footer__p">we <span>&#10084;</span> run</p>
</footer>