<footer class="footer">
    <img class="section_1__img" src="/images/ico-arrow.svg" alt="Icono flecha">
    <nav class="footer_nav">
        <ul>
            <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es/">ROPA</a></li>
            <li><a href="https://adalab.es/">NIÑO/A</a></li>
            <li><a href="https://adalab.es/">DESTACADOS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>
        <ul>
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </nav>
 <span>&copy;2023</span>
 <p>we <span>&#10084;</span> run</p>>
</footer>