<section class="section_3" id="section_3">
    <p class="section_3__p">¡Prepáralos con tus marcas favoritas!</p>
    <h4 class="section_3__h4">VUELTA AL COLE</h4>
    <div class="section_3__container--figure--1">
        <figure class="section_3__figure--1"><img src="/images/lpbts-mod05-img01-desk.png" alt="Niña con mochila"></figure>
         <span class="section_3__figure--2">Mochilas escolares</span>
    </div>
    <div class="section_3__container--figure--2">
         <figure class="section_3__figure--2"><img src="/images/lpbts-mod05-img03-mob.png" alt="Niño con estuche"></figure>
        <span>Estuches</span>
    </div>
    <div class="section_3__container--figure--3">
        <figure class="section_3__figure--3"><img src="/images/lpbts-mod05-img04-mob.png" alt="Niña con bolsa de deporte"></figure>
        <span>Bolsas de deporte</span>
    </div>
    <button class="section_3__button"><a href="https://adalab.es/" target="_blank">EMPEZAR AHORA</a></button>
</section>