<section class="section_3">
    <p class="section_3__p">¡Prepáralos con tus marcas favoritas!</p>
    <h4 class="section_3__h4">VUELTA AL COLE</h4>
    <figure class="section_3__figure"><img src="/images/lpbts-mod05-img01-desk.png" alt="Niña con mochila"></figure>
    <span>Mochilas escolares</span>
    <figure class="section_3__figure"><img src="/images/lpbts-mod05-img03-mob.png" alt="Niño con estuche"></figure>
    <span>Estuches</span>
    <figure class="section_3__figure"><img src="/images/lpbts-mod05-img04-mob.png" alt="Niña con bolsa de deporte"></figure>
    <span>Bolsas de deporte</span>
</section>